# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Data files
data/raw/
data/processed/
archive/
# models/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Others
.DS_Store
*.pkl
*.log
# *.png
# *.csv

